.home{
    background: url();
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    justify-items: center;

}

.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 1px solid;
}