a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg,#00203FFF 1.18%,#ADEFD1FF 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 10px;
    border-radius: 30px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project4 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project5 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project6 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.header--project7 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-right: 40px;
}

.rounded-circle{
    border-radius: 30px;
}

